{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
      <h1 class="pt-5 pb-2">Home</h1>
      <p class="pt-5"><h2>User admin</h2></p>
      {% if message %}
      <p class="pt-2"><strong>{{ message }}</strong></p>
      {% endif %}
      <table class="table delete-row-example">
        <thead>
          <tr>
            <th>User</th>
            <th>Role</th>
            <th>TOTP Configured</th>
            <th>MACs (comma separated)</th> 
            <th></th>
          </tr>
        </thead>
        <tbody hx-target="closest tr" hx-swap="outerHTML">
          {% for user in user_list %}
          <tr>
            <td>{{ user[7] }}</td>
            <td>{{ user[4] }}</td>
            <td>{{ user[5] }}</td>
            <td>{{ user[8] }}</td>
            <td><button type="button"
              hx-get="/edituser/{{ user[0] }}"
              hx-trigger="edit"
              onClick="let editing = document.querySelector('.editing')
                       if(editing) {
                         Swal.fire({title: 'Already Editing',
                                    showCancelButton: true,
                                    confirmButtonText: 'Yep, Edit This Row!',
                                    text:'Hey!  You are already editing a row!  Do you want to cancel that edit and continue?'})
                         .then((result) => {
                              if(result.isConfirmed) {
                                 htmx.trigger(editing, 'cancel')
                                 htmx.trigger(this, 'edit')
                              }
                          })
                       } else {
                          htmx.trigger(this, 'edit')
                       }">Edit
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}